.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  %h1.font-medium.leading-tight.text-2xl.mt-0.mb-2.text-center Edit User
  = render partial: 'form', locals: { http_method: :patch, path: admin_users_update_path(@account) }