.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  %h1.font-medium.leading-tight.text-2xl.mt-0.mb-2.text-center New user
  = render partial: 'form', locals: { http_method: :post, path: admin_users_create_path }