%tr{:id => "question_#{question.id}"}
  %td= question.question_text
  %td
    %ul.horizontal-list
      %li= link_to "Edit", [:edit, question.survey, question]
      %li= link_to "Delete", [question.survey, question], method: :delete
