%nav.bg-gray-800
  .mx-auto.max-w-7xl.px-2.sm:px-6.lg:px-8
    .relative.flex.h-16.items-center.justify-between
      .absolute.inset-y-0.left-0.flex.items-center.sm:hidden
        / Mobile menu button
        %button.inline-flex.items-center.justify-center.rounded-md.p-2.text-gray-400.hover:bg-gray-700.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-inset.focus:ring-white{"aria-controls" => "mobile-menu", "aria-expanded" => "false", :type => "button"}
          %span.sr-only Open main menu
          /
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
          %svg.block.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
          /
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
          %svg.hidden.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      .flex.flex-1.items-center.justify-center.sm:items-stretch.sm:justify-start
        .flex.flex-shrink-0.items-center
          %img.block.h-8.w-auto.lg:hidden{:alt => "Your Company", :src => "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"}/
          %img.hidden.h-8.w-auto.lg:block{:alt => "Your Company", :src => "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"}/
        .hidden.sm:ml-6.sm:block
          .flex.space-x-4
            / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
            %a.bg-gray-900.text-white.px-3.py-2.rounded-md.text-sm.font-medium{"aria-current" => "page", :href => "#"} Dashboard
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Team
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Projects
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Calendar
            %p.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} This page is a free component from Tailwind UI!
      .absolute.inset-y-0.right-0.flex.items-center.pr-2.sm:static.sm:inset-auto.sm:ml-6.sm:pr-0
        %button.rounded-full.bg-gray-800.p-1.text-gray-400.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-white.focus:ring-offset-2.focus:ring-offset-gray-800{:type => "button"}
          %span.sr-only View notifications
          / Heroicon name: outline/bell
          %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        / Profile dropdown
        .relative.ml-3
          %div
            %button#user-menu-button.flex.rounded-full.bg-gray-800.text-sm.focus:outline-none.focus:ring-2.focus:ring-white.focus:ring-offset-2.focus:ring-offset-gray-800{"aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
              %span.sr-only Open user menu
              %img.h-8.w-8.rounded-full{:alt => "", :src => "https://scontent.fdps11-1.fna.fbcdn.net/v/t1.18169-9/16298404_10209896118493940_5991904713423166464_n.jpg?stp=dst-jpg_s552x414&_nc_cat=100&ccb=1-7&_nc_sid=da31f3&_nc_eui2=AeGyNxx3vIqu0VkAlEiaahRl_q4PVTBscG_-rg9VMGxwb5mlLLxKuCTEZv-Bemej3ZM&_nc_ohc=NbFQBwX6XvkAX8b7zMo&_nc_ht=scontent.fdps11-1.fna&oh=00_AfDkF00tG4HWJCYORwlLN1NvC1YCSW70QRu4m-2b2yH1qA&oe=63C24CC1"}/
          /
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
          -# .absolute.right-0.z-10.mt-2.w-48.origin-top-right.rounded-md.bg-white.py-1.shadow-lg.ring-1.ring-black.ring-opacity-5.focus:outline-none{"aria-labelledby" => "user-menu-button", "aria-orientation" => "vertical", :role => "menu", :tabindex => "-1"}
          -#   / Active: "bg-gray-100", Not Active: ""
          -#   %a#user-menu-item-0.block.px-4.py-2.text-sm.text-gray-700{:href => "#", :role => "menuitem", :tabindex => "-1"} Your Profile
          -#   %a#user-menu-item-1.block.px-4.py-2.text-sm.text-gray-700{:href => "#", :role => "menuitem", :tabindex => "-1"} Settings
          -#   %a#user-menu-item-2.block.px-4.py-2.text-sm.text-gray-700{:href => "#", :role => "menuitem", :tabindex => "-1"} Sign out
  / Mobile menu, show/hide based on menu state.
  #mobile-menu.sm:hidden
    .space-y-1.px-2.pt-2.pb-3
      / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
      %a.bg-gray-900.text-white.block.px-3.py-2.rounded-md.text-base.font-medium{"aria-current" => "page", :href => "#"} Dashboard
      %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Team
      %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Projects
      %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Calendar

  .overflow-hidden.bg-white.shadow.sm:rounded-lg
  .px-4.py-5.sm:px-6
    %h3.text-lg.font-medium.leading-6.text-gray-900 Applicant Information
    %p.mt-1.max-w-2xl.text-sm.text-gray-500 Personal details and application.
  .border-t.border-gray-200
    %dl
      .bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Full name
        %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0 Margot Foster
      .bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Application for
        %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0 Backend Developer
      .bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Email address
        %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0 margotfoster@example.com
      .bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Salary expectation
        %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0 $120,000
      .bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 About
        %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0 Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
      .bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
        %dt.text-sm.font-medium.text-gray-500 Attachments
        %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0
          %ul.divide-y.divide-gray-200.rounded-md.border.border-gray-200{:role => "list"}
            %li.flex.items-center.justify-between.py-3.pl-3.pr-4.text-sm
              .flex.w-0.flex-1.items-center
                / Heroicon name: mini/paper-clip
                %svg.h-5.w-5.flex-shrink-0.text-gray-400{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z", "fill-rule" => "evenodd"}
                %span.ml-2.w-0.flex-1.truncate resume_back_end_developer.pdf
              .ml-4.flex-shrink-0
                %a.font-medium.text-indigo-600.hover:text-indigo-500{:href => "#"} Download
            %li.flex.items-center.justify-between.py-3.pl-3.pr-4.text-sm
              .flex.w-0.flex-1.items-center
                / Heroicon name: mini/paper-clip
                %svg.h-5.w-5.flex-shrink-0.text-gray-400{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z", "fill-rule" => "evenodd"}
                %span.ml-2.w-0.flex-1.truncate coverletter_back_end_developer.pdf
              .ml-4.flex-shrink-0
                %a.font-medium.text-indigo-600.hover:text-indigo-500{:href => "#"} Download


  